html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    background-color: #0D0E22;
    color: #2b2d30;
}

input:focus, textarea:focus, select:focus, button:focus{
    outline: none;
}

.header{
    overflow: hidden;
    height: 100px;
    width: 100%;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
}

.headerTitle{
    background-color: transparent;
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    transition: 0.5s;
    border-bottom: 3px solid transparent;
    margin-top: 25px;
    padding-left: 25px;
    padding-right: 10%;
    text-align: center;
    transition: 0.5s;
}

.headerItem{
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    transition: 0.5s;
    border-bottom: 3px solid transparent;
    margin-top: 30px;
    width: 10%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 10px;
}

.logo{
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    width: 90px;
    height: 90px;
}

body{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    margin-top: 110px;
}

.home{
    height: 75%;
}

.home-left{
    z-index: 2;
    width: 40%;
    margin-top: 300px;
    margin-left: 10%;
    font-size: 45px;
}

.mail-list{
    margin-left: -4.2%;
    transition: margin-left 1s;
    transition: opacity 0.7s;
}

.email{
    margin-right: 1%;
    padding-left: 10px;
    position: relative;
    display: inline-block;
    opacity: 0;
    width: 0%;
    height: 50px;
    transition: opacity 0.3s;
    transition: width 1s;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 13px;
}

.wiggle{
    animation-name: wiggle;
    animation-duration: 0.5s;
}

@keyframes wiggle {
    0% {-webkit-transform:rotate(1deg);}
    25% {-webkit-transform:rotate(-1deg);}
    50% {-webkit-transform:rotate(1deg);}
    75% {-webkit-transform:rotate(-1deg);}
    100% {-webkit-transform:rotate(1deg);}
}

.get-notified{
    float: right;
    margin-right: 28%;
    position: relative;
    width: 68%;
    height: 50px;
    font-weight: bold;
    background-color: gray;
    border: 3px solid black;
    border-radius: 13px;
    transition: 0.3s;
}

.get-notified:hover{
    transition: 0.3s, width 1s;
    background-color: black;
    color: white;
}

.home-line{
    float: left;
    width: 350px;
    border: 3px solid #2b2d30;
}

.cloud1{
    width: 500px;
    float: right;
    margin-top: -500px;
    margin-right: 10%;
}

.cloud2{
    filter: opacity(0.8);
    width: 500px;
    float: right;
    margin-top: -400px;
    margin-right: 15%;
}

.cloud3{
    filter: opacity(0.5);
    width: 500px;
    float: right;
    margin-top: -350px;
    margin-right: 5%;
}

.type-cursor { color:#2b2d30; animation:blink .6s ease infinite;opacity:0; }
@keyframes blink {
    100% { opacity:1; }
}

.section{
    height: 100%;
}

.scroll-snap{
    scroll-snap-align: start;
}

.section-title{
    font-size: 50px;
    text-align: center;
    margin-left: 35%;
    width: 30%;
}

.section-text{
    text-align: center;
    font-size: 35px;
    width: 60%;
    margin-left: 20%;
}

.dropdown{
    font-size: 25;
    text-align: center;
    border: 3px solid black;
    border-radius: 13px;
    background-color: white;
    color: black;
    width: 30%;
    height: 8%;
    margin-left: 35%;
    margin-bottom: 20px;
}

.dropdown-title{
    margin-left: 30px;
}

.arrow{
    opacity: 0.8;
    float: right;
    width: 25px;
    margin-top: 3px;
    margin-right: 10px;
    transition: transform 0.3s;
}

.dropdown:hover{
    background-color: black;
    color: white;
    animation-name: bggraytoblack;
    animation-duration: 0.5s;
}

.dropdown-panel{
    overflow: hidden;
    max-height: 0;
    font-size: 25px;
    margin-top: -18px;
    margin-bottom: 20px;
    width: 30%;
    margin-left: 35%;
    transition: max-height 0.5s;
}

@media only screen and (max-width: 768px){
    /* Tablets */
    
}

@media only screen and (max-width: 600px){
    /* Phones */
    
}