html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    background-color: #0D0E22;
    color: #2b2d30;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    margin-top: 110px;
}

input:focus, textarea:focus, select:focus, button:focus{
    outline: none;
}

.header{
    height: 100px;
    width: 100%;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.headerTitle{
    background-color: transparent;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    transition: 0.5s;
    border-bottom: 3px solid transparent;
    margin-top: 25px;
    padding-left: 25px;
    padding-right: 10%;
    text-align: center;
    transition: 0.5s;
    display: flex;
    width: fit-content;
}

.headerTitle:hover{
    cursor: pointer;
}

.headerItems{
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.nav-menu{
    display: block;
    position: fixed;
    background-color: white;
    top: 100px;
    left: 100%;
    width: 40%;
    height: 100%;
    z-index: 2;
    transition: 0.5s;
}

.nav-open{
    left: 60%;
}

.headerItem{
    /*float: left;*/
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    transition: 0.5s;
    border: 3px solid transparent;
    border-color: transparent;
    margin-top: 30px;
    width: 10%;
    border-radius: 10px;
    display: flex;
    width:fit-content;
    white-space: nowrap;
    margin-right: 10px;
}

.headerItem:hover{
    background-color: gray;
    cursor: pointer;
}

.menu-button{
    display: none;
}

.logo{
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    width: 90px;
    height: 90px;
}

.home{
    height: 75%;
}

.home-left{
    z-index: 2;
    width: 40%;
    margin-top: 150px;
    margin-left: 10%;
    font-size: 45px;
}

.mail-list{
    margin-left: -4.2%;
    transition: margin-left 1s;
    transition: opacity 0.7s;
}

.email{
    margin-right: 1%;
    padding-left: 10px;
    position: relative;
    display: inline-block;
    opacity: 0;
    width: 0%;
    height: 50px;
    transition: width 1s, opacity 0.3s, margin-left 1s;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 13px;
}

.wiggle{
    animation-name: wiggle;
    animation-duration: 0.5s;
}

@keyframes wiggle {
    0% {-webkit-transform:rotate(1deg);}
    25% {-webkit-transform:rotate(-1deg);}
    50% {-webkit-transform:rotate(1deg);}
    75% {-webkit-transform:rotate(-1deg);}
    100% {-webkit-transform:rotate(1deg);}
}

.get-notified{
    float: right;
    margin-right: 28%;
    position: relative;
    width: 68%;
    height: 50px;
    font-weight: bold;
    background-color: gray;
    border: 3px solid black;
    border-radius: 13px;
    transition: 0.3s;
}

.get-notified:hover{
    transition: 0.3s, width 1s;
    background-color: black;
    color: white;
    cursor: pointer;
}

.home-line{
    float: left;
    width: 350px;
    border: 3px solid #2b2d30;
}

.cloud1{
    width: 500px;
    float: right;
    margin-top: -500px;
    margin-right: 10%;
}

.cloud2{
    filter: opacity(0.8);
    width: 500px;
    float: right;
    margin-top: -400px;
    margin-right: 15%;
}

.cloud3{
    filter: opacity(0.5);
    width: 500px;
    float: right;
    margin-top: -350px;
    margin-right: 5%;
}

.type-cursor { 
    color:#2b2d30; 
    animation:blink .6s ease infinite;
    opacity:0; 
}

@keyframes blink {
    100% { opacity:1; }
}

.section{
    height: 100%;
}

/* Scroll Snapping Safari
.scroll-snap{
    scroll-snap-align: end;
}
*/

.section-title{
    font-size: 50px;
    text-align: center;
    margin-left: 35%;
    width: 30%;
}

.section-text{
    text-align: center;
    font-size: 35px;
    width: 60%;
    margin-left: 20%;
}

.dropdown{
    font-size: 25;
    text-align: center;
    border: 3px solid black;
    border-radius: 13px;
    background-color: white;
    color: black;
    width: 40%;
    height: 8%;
    margin-left: 30%;
    margin-bottom: 20px;
    transition: 0.3s;
}

.dropdown-title{
    margin-left: 30px;
}

.arrow{
    opacity: 0.8;
    float: right;
    width: 25px;
    margin-top: 3px;
    margin-right: 10px;
    transition: 0.3s;
}

.dropdown:hover{
    background-color: black;
    color: white;
    animation-name: bggraytoblack;
    animation-duration: 0.5s;
}

.dropdown-panel{
    overflow: hidden;
    max-height: 0;
    font-size: 25px;
    margin-top: -18px;
    margin-bottom: 20px;
    width: 40%;
    margin-left: 30%;
    transition: max-height 0.5s;
}

@media only screen and (max-width: 768px){
    /* Tablets */
    .home-left{
        width: 60%;
    }

    .headerTitle{
        font-size: 30px;
        margin-top: 35px;
    }

    .logo{
        width: 60px;
    }

    .headerItem{
        margin-top: 38px;
        font-size: 20px;
        height: 25px;
    }

    .get-notified{
        float: right;
        position: absolute;
        font-weight: bold;
        width: 55%;
        right: 5%;
        border-radius: 13px;
        transition: 0.3s;
        height: 60px;
    }

    .email{
        height: 60px;
    }

    .cloud1, .cloud2, .cloud3{
        display: none;
    }

    .section{
        min-height: 100%;
        height: auto;
    }
    
    .section-text{
        margin-left: 7.5%;
        width: 85%;
    }

    .dropdown{
        text-align: center;
        width: 60%;
        margin-left: 20%;
    }
    
    .dropdown-panel{
        width: 60%;
        margin-left: 20%;
    }
    /*Remove Hover*/
    .headerItem:hover{
        background-color: transparent;
    }

    .get-notified:hover{
        transition: 0.3s, width 1s;
        background-color: gray;
        color: black;
        cursor: pointer;
    }

    .dropdown:hover{
        background-color: white;
        color: black;
        animation-name: unset;
        animation-duration: unset;
    }
}

@media only screen and (max-width: 600px){
    /* Phones */
    .home-left{
        width: 100%;
        height: 100%;
        margin-top: 80px;
        float: left;
        font-size: 28px;
    }

    .headerTitle{
        font-size: 25px;
        padding-left: 10px;
    }

    .home{
        margin-left: 0%;
    }

    .menu-button{
        display: block;
        position: absolute;
        right: 30;
        height: 40px;
        width: 40px;
        margin-top: 30px;
        transition: 0.3s ease-in-out;
    }

    .nav-menu{
        display: block;
        position: fixed;
        background-color: white;
        top: 100px;
        right: -10px;
    }

    .navItem{
        margin-left: 25px;
    }

    .headerItems{
        display: none;
    }

    .cloud1, .cloud2, .cloud3{
        display: none;
    }

    .home-line{
        width: 150px;
    }

    .get-notified{
        float: right;
        position: absolute;
        font-weight: bold;
        width: 75%;
        right: -14%;
        border-radius: 13px;
        transition: 0.3s;
    }

    .email{
        font-size: 15px;
    }

    .section{
        margin-left: 10%;
        min-height: 100%;
        height: auto;
        width: 80%;
    }

    .section-title{
        margin-left: 10%;
        font-size: 30px;
        width: 80%;
    }
    
    .section-text{
        margin-left: 0%;
        font-size: 18px;
        width: 100%;
    }

    .dropdown{
        font-size: 12;
        text-align: center;
        width: 80%;
        margin-left: 10%;
    }
    
    .arrow{
        width: 15px;
        margin-top: 0px;
        margin-right: 3px;
    }
    
    .dropdown-panel{
        font-size: 15px;
        width: 100%;
        margin-left: 0%;
    }
}




/*Responsive Navbar Testing*/

@media (max-width: 768px){
    .headerItems{
        visibility: hidden;
    }
    .navbar-small{
        visibility: show;
    }
}
@media (min-width: 768px){
    .headerItems{
        visibility: show;
    }
    .navbar-small{
        visibility: hidden;
    }
}

#menuToggle
{
  display: block;
  top: 0px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
  margin-right: 20px;
}
#menuToggle:hover
{
  cursor: pointer;
}
#menuToggle input
{
  display: block;
  position: absolute;
  width: 40px;
  height: 32px;
  top: 10px;
  right: 10px;
  
  cursor: pointer;
  opacity: 0%;
  visibility: hidden;
  z-index: 2; 
  
  -webkit-touch-callout: none;

}
.X-Button{
    position: absolute;
    right: 10px;
    top: 10px;
    margin: 5px;
    z-index: 1;
}
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: black;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}


#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(3)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ div span
{
  opacity: 1;
  transform: rotate(40deg) translate(-1px, -1px);
  background: #232323;
}


#menuToggle input:checked ~ div span:nth-last-child(2)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ div span:nth-last-child(1)
{
  transform: rotate(-40deg) translate(-1px, -1px);
}


#menu
{
  position: absolute;
  width: 150px;
  height: 100vh;
  padding: 50px;
  padding-top: 125px;
  right: 0px;
  top: -16px;
  background: #F5F5F5	;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(+100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  display: flex;
  flex-direction: column;
  align-items: center;

}


#menuToggle input:checked ~ ul
{
  transform: none;
}
